<nav class="navbar navbar-expand-lg" id="navigation">
    <!-- <div class="container-fluid"> -->

    <img class=" navbar-brand img-fluid" width="100px"
        src="../assets/pictures/creative-treble-clef-sign-isolated-generative-ai.jpg" alt="Logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-evenly me-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>

        <form class="d-flex" id="searchForm">

            <!-- <li class="nav-item"> -->
            <input id="searchText" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
            <button id="searchButton" class="btn border" type="submit"><i class="bi bi-search"></i></button>
            <!-- </li> -->
        </form>

    </div>
</nav>
<div class="container-fluid">
    <div class="row pt-4 justify-content-center" id="banner">
        <div class="col-md-6" id="bannerText">
            <h1>Lorem ipsum dolor sit amet adipisicing </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nobis.adipisicing elit. Excepturi,
                nobis.</p>


            <button class="btn " id="click">Click</button>
            <button class="btn " id="service">Our Service</button>
        </div>

        <div class="col-md-4 d-none d-md-block " id="bannerImg">
            <img src="../assets/pictures/pug.jpg" alt="Dog" class="img-fluid">
        </div>
    </div>

    <div class="row justify-content-evenly my-5 py-5">
        <div class="col-md-5">
            <h1 id="heading">As a veterian and lover of dog</h1>
            <p id="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt blanditiis doloribus
                error nostrum quisquam quo?</p>
            <button class="btn text-white bg-warning">Our Service</button>
        </div>
        <div class="col-md-5 pt-3 mt-3">
            <img src="../assets/pictures/creative-treble-clef-sign-isolated-generative-ai.jpg" alt="alterantive"
                height="350px" class="img-fluid">

        </div>
    </div>


    <div class="row justify-content-evenly" id="background">
        <div class="col-md-3 text-center">
            <i class="bi bi-heart-pulse icon"></i>
            <h6>+34223</h6>
            <h1>Happy clients</h1>
        </div>
        <div class="col-md-3  text-center">
            <i class="bi bi-capsule-pill icon"></i>
            <h6>+34223</h6>
            <h1>Happy clients</h1>
        </div>
        <div class="col-md-3  text-center">
            <i class="bi bi-hospital icon"></i>
            <h4>+34223</h4>
            <h1>Happy clients</h1>
        </div>
    </div>


    <h1 id="recent" class="text-center py-2 font-weight-bolder">Recent posts</h1>
    <h2 class="text-center">Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit. Cum, quasi.</h2>




    <div class="row mb-5">

        <div class="card-group justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <img src="https://source.unsplash.com/random/?dog?doctor" class="card-img-top heightImg"
                        alt="DoctorImage">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://source.unsplash.com/random/?dog?doctor" class="card-img-top heightImg"
                        alt="DoctorImage">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://source.unsplash.com/random/?dog?doctor" class="card-img-top heightImg"
                        alt="DoctorImage">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-info justify-content-evenly pt-4 text-white">
        <div class="col-md-2">
            <h1>About</h1><br>
            <a>History</a><br>
            <a>Your team</a><br>
            <a>Brand Guidline</a><br>
            <a>Terms and conditions</a><br>
            <a>Privacy policy</a><br>
        </div>
        <div class="col-md-2" id="footer">
            <h1>Service</h1><br>

            <a href="">About</a><br>
            <a href="">History</a><br>
            <a href="">History</a><br>
            <a href="">History</a><br>
            <a href="">History</a>
        </div>
        <div class="col-md-3 text-end" id="footerIcon">
                <!-- <div id="end1"> -->
                <h1>Title here</h1>
                <p>Lorem, ipsum dolor dsfjsd</p>
                <!-- <div class="col-5"> -->
                <form>
                    <input type="text" id="textFooter">
                    <button id="buttonTel"><i class="bi bi-telegram"></i></button>
                </form>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
            

            </div>
        <!-- </div> -->
    </div>

</div>